*{
    box-sizing: border-box;
}

/* Header CSS */

.top{
    display: flex;
    width: 375px;
    height: 63px;
    column-gap: 230px;
    background: rgba(255, 255, 255, 0.47);
    box-shadow: 0px 4px 14px rgba(24, 160, 251, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 14px 14px;
}
.dropdown{
    display: flex;
    padding-left: 24px;
    padding-bottom: 21px;
    padding-top: 18px;
}
.cart_bell{
    display: flex;
    column-gap: 24px;
    padding-bottom: 21px;
    padding-top: 18px;
    padding-right: 25px;
}

/* Page_1 CSS */

.container_1{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1622px;
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
    margin-bottom: 0;
}
#t1{
    width: 188px;
    height: 30px;
    margin: 43px 0 0 96px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;

    color: #1B1B50;
}
#st1{
    width: 290px;
    height: 23px;
    margin: 37px 0 0 42px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1B1B50;
}
#p1{
    width: 308px;
    height: 75px;
    margin: 37px 0 0 33px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
#t2{
    width: 177px;
    height: 33px;
    margin: 32px 0 0 99px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p2{
    width: 303px;
    height: 132px;
    margin: 37px 0 0 35px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 44px;
    text-align: center;

    color: #1B1B50;
}
#p3{
    width: 308px;
    height: 232px;
    margin: 37px 0 0 33px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;
}
#img1{
    width: 63.08px;
    height: 63px;
    margin: 27px 0 0 152px;

}
#subcontainer_1{
    width: 309px;
    height: 493px;
    margin: 38px 0 0 32px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;

}
#img2{
    width: 70px;
    height: 70px;
    margin: 27px 160px 0 113px;
}
#p5{
    margin-bottom: 30px;
}
#p6{
    margin-top: 40px;
}
#p7{
    width: 308px;
    height: 116px;
    margin: 50px 0 0 33px;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;
}

/* Page_2 CSS */

.container_2{
    width: 375px;
    height: 841px;

    background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
}
#p8{
    width: 295px;
    height: 33px;
    margin: 0 0 0 34px;
    padding-top: 39px ;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p9{
    width: 335px;
    height: 86px;
    margin: 70px 0 0 34px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #1B1B50;
}
#subcontainer_2{
    width: 308px;
    height: 575px;
    margin: 29px 0 0 34px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */

    color: #1B1B50;
}
#p11,#p12,#p14,#p15{
    margin-top: 27px;
}
#p13{
    padding-left: 25px;
}

/* Page_3 CSS */

#subcontainer_3{
    width: 375px;
    height: 411px;
    background: #DCE9E9;
}
#p16{
    width: 335px;
    height: 66px;
    margin-left: 33px;
    padding-top: 35px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p17{
    width: 329px;
    height: 86px;
    margin-left: 33px;
    margin-top: 65px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #000000;
}
#p18{
    width: 308px;
    height: 145px;
    margin-left: 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 206.5%;
    /* or 29px */
    
    
    color: rgba(0, 0, 0, 0.8);
}
#subcontainer_4{
    width: 375px;
    height: 562px;
    left: 0px;
    top: 2910px;

    background: linear-gradient(180deg, #DCE9E9 11.21%, rgba(220, 233, 233, 0.15) 42.17%), url("https://images.pexels.com/photos/4041391/pexels-photo-4041391.jpeg?auto=compress&cs=tinysrgb&h=562&w=375");
}
#b1{
    width: 315px;
    height: 66px;
    margin: 40px 0 0 30px;;

    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
#p19{
    width: 335px;
    height: 33px;
    margin-left: 20px;
    margin-top: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    text-align: center;

    color: rgba(0, 0, 0, 0.8);
}

/* Page_4 CSS */

.container_4{
    width: 375px;
    height: 772px;
    
    background: linear-gradient(180deg, #FFF6FB 0%, #FFFFFF 100%);
}
#p20{
    width: 250px;
    height: 43px;
    margin: 0 0 0 30px;
    padding-top: 39px;
    
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #000000;
    
}
#p21{
    width: 308px;
    height: 145px;
    margin: 66px 0 0 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
}
#b2{
    width: 315px;
    height: 66px;
    margin: 33px 0 0 30px;;

    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
#subcontainer_5{
    width: 375px;
    height: 375px;
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#img3,#img4,#img5,#img6{
    width: 164px;
    height: 164px;
}

/* Page_5 CSS */

.container_5{
    width: 375px;
    height: 775px;
    
    background: linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 53.07%);
}
#p22{
    width: 258px;
    height: 43px;
    margin: 0 0 0 30px;
    padding-top: 39px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    
    color: #000000;
}
#p23{
    width: 308px;
    height: 145px;
    margin: 60px 0 0 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
    
}
#b3{
    width: 315px;
    height: 66px;
    margin: 40px 0 47px 30px;;

    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#img7{
    width: 375px;
    height: 375px;
}

/* Page_6 CSS */

.container_6{
    width: 375px;
    height: 678px;
    background: linear-gradient(270deg, #DADAE4 0.25%, #EEEEF0 24.33%, #F8F8F8 52.08%, #FEFEFE 100%);
}
#p24{
    width: 305px;
    height: 43px;
    margin: 0 0 0 30px;
    padding-top: 34px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    
    color: #000000;
}
#p25{
    width: 308px;
    height: 145px;
    margin: 100px 0 0 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
    
}
#b4{
    width: 315px;
    height: 66px;
    margin: 35px 0 40px 30px;;

    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#img8{
    width: 375px;
    height: 250px;
}

/* Page_7 CSS */

.container_7{
    width: 375px;
    height: 646px;
    
    background: #F66E6E;
}
#p26{
    width: 335px;
    height: 120px;
    margin: 0 0 0 33px;
    padding-top: 39px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 134.8%; /*43px*/
    
    color: rgba(255, 255, 255, 0.8);
}
#p27{
    width: 308px;
    height: 145px;
    margin: 0 0 0 33px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 206.5%;
    /* or 29px */
    
    color: rgba(255, 255, 255, 0.8);
}

#b5{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 287px;
    height: 43px;
    margin: 33px 0 0 44px;
    
    background: #000000;
    border-radius: 27px;
    border-width: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 206.5%;
    /* identical to box height, or 29px */

    color: #FFFFFF;
}
#img9{
    width: 375px;
    height: 270px;
}

/* Page_8 CSS */

.container_8{
    width: 375px;
    height: 373px;

    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%);
}
#p28{
    width: 274px;
    height: 220px;
    margin: 0 0 0 47px;
    padding-top: 93px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 134.8%;
    /* or 44px */

    color: rgba(0, 0, 0, 0.8);
}

/* Page_9 CSS */

.container_9{
    width: 375px;
    height: 390px;

    background: #050506;
}
#social_media{
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    padding: 55px 45px 0 266px;
    margin-bottom: 38px;
}
#products, #our_science, #vision_mission, #about_us{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
    height: 29px;
    margin-left: 37px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 206.5%;
    /* identical to box height, or 29px */


    color: #FFFFFF;
}
#subscribe{
    width: 308px;
    height: 54px;
    display:flex;
    column-Gap:7px;
    justify-content: center;
    align-items: flex-end;
    margin: 17px 0 0 39px;
}
#l1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 8.94737px;
    line-height: 206.5%;
    margin-bottom: 6px;

    color: #FFFFFF;
}
#MAIL{
    width: 216px;
    height: 30px;

    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #E7F6FC;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 0;

}
::placeholder{
    width: 97px;
    height: 25px;
    padding-left: 11px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 206.5%;
    /* identical to box height, or 25px */

    color: #000000;
}
#activate_button{
    display: flex;
    width: 85px;
    height: 27.48px;
    justify-content: center;
    align-items: center;
    column-gap: 7.89px;
    
    background: #D6F4FB;
    border: 1.2782px solid #E9F4FF;
    box-sizing: border-box;
    border-radius: 17.2556px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8.94737px;
    line-height: 206.5%;
    /* identical to box height, or 18px */

    color: #1B1B50;
}