*{
    box-sizing: border-box;
}
/* html,body {
    margin:0;
    padding:0;
} */

/* Header CSS */

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 63px;
    column-gap: 230px;
    background: rgba(255, 255, 255, 0.47);
    box-shadow: 0px 4px 14px rgba(24, 160, 251, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 14px 14px;
}
.dropdown{
    display: flex;
    padding-left: 24px;
    padding-bottom: 21px;
    padding-top: 18px;
}
.cart_bell{
    display: flex;
    column-gap: 24px;
    padding-bottom: 21px;
    padding-top: 18px;
    padding-right: 25px;
}

/* Page_1 CSS */

.container_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px 34px 34px 29px;
    width: 100%;
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
    margin-bottom: 0;
}
#t1{
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 30px;

    color: #1B1B50;
}
#st1{

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1B1B50;
}
#p1{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}
#t2{

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p2{

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 44px;
    text-align: center;

    color: #1B1B50;
}
#p3{

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;
}
#subcontainer_1{

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;

}

#p7{

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    text-align: center;

    color: #1B1B50;
}

/* Page_2 CSS */

.container_2{
    width: 100%;
    padding: 17px 34px 28px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
}
#p8{
    display: flex;
    justify-content: flex-start;
    padding-right: 6%;

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p9{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #1B1B50;
}
#subcontainer_2{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    /* or 25px */

    color: #1B1B50;
}

/* Page_3 CSS */

#subcontainer_3{
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: #DCE9E9;
}
#p16{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    color: #1B1B50;
}
#p17{

    margin-top: 15px;
    margin-bottom: 7px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #000000;
}
#p18{

    margin-bottom: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 206.5%;
    
    color: rgba(0, 0, 0, 0.8);
}
#subcontainer_4{
    width: 100%;
    height: 550px;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    background: linear-gradient(180deg, #DCE9E9 11.21%, rgba(220, 233, 233, 0.15) 42.17%), url("https://images.pexels.com/photos/4041391/pexels-photo-4041391.jpeg?auto=compress&cs=tinysrgb&h=562&w=100%");
}
#b1{
    width: 315px;
    height: 66px;

    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#p19{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    text-align: center;

    color: rgba(0, 0, 0, 0.8);
}

/* Page_4 CSS */

.container_4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 37px;
    background: linear-gradient(180deg, #FFF6FB 0%, #FFFFFF 100%);
}
#p20{
    margin-bottom: 9px;
    
    padding-left: 34px;
    padding-right: 34px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;

    color: #000000;
    
}
#p21{

    margin-bottom: 33px;
    padding-left: 34px;
    padding-right: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
}
#b2{
    width: 315px;
    height: 66px;

    margin-left: 34px;
    margin-right: 34px;
    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#subcontainer_5{
    padding-top: 8px;
    padding-bottom: 37px;
    width: 100%;
    padding-left: 11px;
    padding-right: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#img3,#img4,#img5,#img6{
    padding-top: 25px;
    width: 164px;
    height: 164px;
}

/* Page_5 CSS */

.container_5{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 7px;
    
    background: linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 53.07%);
}
#p22{
    margin-bottom: 7px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    
    color: #000000;
}
#p23{
    margin-bottom: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
    
}
#b3{
    width: 315px;
    height: 66px;
    margin-bottom: 47px;

    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#img7{
    width: 100%;
    height: 35%;
}


/* Page_6 CSS */

.container_6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 2px;
    background: linear-gradient(270deg, #DADAE4 0.25%, #EEEEF0 24.33%, #F8F8F8 52.08%, #FEFEFE 100%);
}
#p24{
    margin-bottom: 8px;

    padding-left: 34px;
    padding-right: 34px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    
    color: #000000;
}
#p25{
    margin-bottom: 33px;

    padding-left: 34px;
    padding-right: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;

    color: rgba(0, 0, 0, 0.8);
    
}
#b4{
    width: 315px;
    height: 66px;
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 35px;

    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    box-shadow: 0px 2px 16px rgba(71, 222, 255, 0.33);
    border-radius: 70px;
    border-width: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.8605px;
    line-height: 30px;

    text-align: center;

    color: #FFFFFF;
}
#img8{
    width: 100%;
    height: 250px;
}

/* Page_7 CSS */

.container_7{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 7px;
    padding-bottom: 52px;
    
    background: #F66E6E;
}
#p26{
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 5px;

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 134.8%; /*43px*/
    
    color: rgba(255, 255, 255, 0.8);
}
#p27{
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 206.5%;
    
    color: rgba(255, 255, 255, 0.8);
}

#b5{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 287px;
    height: 43px;
    margin-left: 34px;
    margin-right: 34px;

    background: #000000;
    border-radius: 27px;
    border-width: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 206.5%;

    color: #FFFFFF;
}
#img9{
    width: 100%;
    height: 270px;
}

/* Page_8 CSS */

.container_8{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 60px;
    padding-bottom: 27px;

    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%);
}
#p28{

    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 134.8%;

    color: rgba(0, 0, 0, 0.8);
}

/* Page_9 CSS */

.container_9{
    width: 100%;
    height: 390px;

    background: #050506;
}
#social_media{
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    padding: 55px 45px 0 266px;
    margin-bottom: 38px;
}
#products, #our_science, #vision_mission, #about_us{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
    height: 29px;
    margin-left: 37px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 206.5%;

    color: #FFFFFF;
}
#subscribe{
    width: 308px;
    height: 54px;
    display:flex;
    column-Gap:7px;
    justify-content: center;
    align-items: flex-end;
    margin: 17px 0 0 39px;
}
#l1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 8.94737px;
    line-height: 206.5%;
    margin-bottom: 6px;

    color: #FFFFFF;
}
#MAIL{
    width: 216px;
    height: 30px;

    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #E7F6FC;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 0;

}
::placeholder{
    width: 97px;
    height: 25px;
    padding-left: 11px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 206.5%;

    color: #000000;
}
#activate_button{
    display: flex;
    width: 85px;
    height: 27.48px;
    justify-content: center;
    align-items: center;
    column-gap: 7.89px;
    
    background: #D6F4FB;
    border: 1.2782px solid #E9F4FF;
    box-sizing: border-box;
    border-radius: 17.2556px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8.94737px;
    line-height: 206.5%;

    color: #1B1B50;
}

/* For desktop view */
@media screen and (min-width: 600px) {
    #img7{
        width: 500px;
        height: 500px
    }
    #img8{
        width: 40%;
        height: 400px;
    }
    #img9{
        width: 35%;
        height: 300px;
    }
    #subcontainer_5{
        justify-content: space-evenly;
    }
    #social_media{
        column-gap: 50px;
    }
    .cart_bell{
        column-gap: 60px;
    }
}
